<!-- <input type="text" />
<button  clickEvent()>Click me!</button> -->


<!-- <a  routerLink="//0"> *ngIf="contentItem && contentItem.title else elseBlockNameIsWhateverYouWant" appHighlightImportantData  [color]="'pink'">
    {{ contentItem?.title }}
</a> -->
<mat-card>
  <mat-card-header>
  
  <a *ngIf="contentItem && contentItem.imagelink else elseBlock"  [routerLink] = "['/details', contentItem.id ]" routerLinkActive="active"  >{{ contentItem.title }} </a>
  <!-- <img *ngIf="contentItem" src="{{contentItem.imageUrl}}"> -->
  <img *ngIf="contentItem && contentItem.imagelink else elseBlock" [src]="contentItem.imagelink" (click)="myfun()">
  <!-- <p class="body" *ngIf="contentItem && contentItem.body; else elseBlockNameIsWhateverYouWant">{{contentItem?.body}}</p> -->
</mat-card-header>
  <mat-card-subtitle class="type"  *ngIf="contentItem && contentItem.type else elseBlockNameIsWhateverYouWant" appHighlightImportantData   [highlightColor]="'2px solid black'" >{{contentItem.type}}</mat-card-subtitle>
  <!-- <div class="author"  *ngIf="contentItem && contentItem.author else elseBlockNameIsWhateverYouWant">{{contentItem?.author}}</div> -->
 <!-- <div class="hastags"  *ngIf="contentItem && contentItem.hashtags else elseBlockNameIsWhateverYouWant" appHighlightImportantData>{{contentItem?.hashtags}}</div> -->

 <div class="hashtags" *ngIf="contentItem && contentItem.hashtags else elseBlockNameIsWhateverYouWant">
  <span *ngFor="let hashtag of contentItem.hashtags" appHighlightImportantData [textcolor]="'orange'" >
    #{{ hashtag }}
  </span>
  <!-- <span>{{ chessPlayer.hashtags.replace(cp => "<span>" + cp + "</span>").join(" ")}}</span> -->
</div>


  <ng-template #elseBlock>
    <!-- <p class="not-found"></p> -->
    <!-- <img src="https://images.newindianexpress.com/uploads/user/imagelibrary/2021/9/6/w900X450/Bombay_Stock_exchange-PTI.jpg?w=400&dpr=2.6" alt=""> -->
  <!-- <img [src]="'assets/images/stockmarket.jpg'" alt=""> -->
  
  </ng-template>

  <ng-template #elseBlockNameIsWhateverYouWant>
    <p> not found</p>
  </ng-template>
</mat-card>
