<ng-container *ngIf="contentItem">
    <h2>
      {{ contentItem.title }}
    </h2>
    <img *ngIf="contentItem" [src]="contentItem.imagelink">
    <p class="body" *ngIf="contentItem && contentItem.body; else elseBlockNameIsWhateverYouWant">
      {{contentItem.body}}
    </p>
    <div class="type"  *ngIf="contentItem && contentItem.type else elseBlockNameIsWhateverYouWant" appHighlightImportantData   [highlightColor]="'2px solid black'" >{{contentItem?.type}}</div>
    <p class="author" *ngIf="contentItem && contentItem.body; else elseBlockNameIsWhateverYouWant">
      {{contentItem.body}}
    </p>
    <div class="hashtags" *ngIf="contentItem && contentItem.hashtags else elseBlockNameIsWhateverYouWant"> </div>

    <ng-template #elseBlockNameIsWhateverYouWant>
      <p class="not-found">No body content found</p>
    </ng-template>
    
  </ng-container>

  <a routerLink="/list/">Back to the list</a>