<div *ngIf="!contentItem.id">
   <h1>you are going to add data</h1>
 </div>
<div *ngIf="contentItem.id">
   <h1>you are going to update the data</h1>
 </div>
 <mat-form-field color="primary" appearance="fill">
   <mat-form-field color="primary" appearance="fill">
  <mat-label>
    title:
    <input matInput [(ngModel)]="contentItem.title">
  </mat-label><br>
</mat-form-field>

 <mat-form-field color="primary" appearance="fill">
  <mat-label>
    body:
    <input matInput [(ngModel)]="contentItem.body">
  </mat-label><br>
  </mat-form-field>

   <mat-form-field color="primary" appearance="fill">
  <mat-label>
    author:
    <input matInput [(ngModel)]="contentItem.author">
  </mat-label><br>
  </mat-form-field>

   <mat-form-field color="primary" appearance="fill">
  <mat-label>
    imagelink:
    <textarea [(ngModel)]="contentItem.imagelink"></textarea>
  </mat-label><br>
  </mat-form-field>

   <mat-form-field color="primary" appearance="fill">
  <mat-label>
    Tags:
    <input matInput [(ngModel)]="tempTags">
  </mat-label>
  </mat-form-field>
  <div *ngIf="contentItem.id"> <button  mat-raised-button color="primary" (click)="+(contentItem.id || 'falsy') ? updateContentOnServer(): addContentToServer() ">
      update content
  </button></div>
  <div *ngIf="!contentItem.id"> <button  mat-raised-button color="primary" (click)="+(contentItem.id || 'falsy') ? updateContentOnServer(): addContentToServer() ">
    Add new content
  </button></div>
 
  