<div *ngIf="!contentItem.id">
   <h1>you are going to add data</h1>
 </div>
<div *ngIf="contentItem.id">
   <h1>you are going to update the data</h1>
 </div>
  <label>
    title:
    <input [(ngModel)]="contentItem.title">
  </label><br>
  <label>
    body:
    <input [(ngModel)]="contentItem.body">
  </label><br>
  <label>
    author:
    <input [(ngModel)]="contentItem.author">
  </label><br>
  <label>
    imagelink:
    <textarea [(ngModel)]="contentItem.imagelink"></textarea>
  </label><br>
  <label>
    Tags:
    <input [(ngModel)]="tempTags">
  </label>

  <div *ngIf="contentItem.id"> <button (click)="+(contentItem.id || 'falsy') ? updateContentOnServer(): addContentToServer() ">
      updat content
  </button></div>
  <div *ngIf="!contentItem.id"> <button (click)="+(contentItem.id || 'falsy') ? updateContentOnServer(): addContentToServer() ">
    Add new content
  </button></div>
 
  